body{
    margin: 0;
    background: rgb(30, 99, 156);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.calculadora{
    display: grid;
    grid-template-columns: repeat(4,75px);
    grid-template-rows: 160px repeat(5,75px);
    background-color: rgb(18, 160, 148);
    padding: 1rem;
    border-radius: 32px;
    box-shadow: 15px 10px 0 5px #00000033;
}

button{
    cursor: pointer;
    margin: 5px;
    padding: 0; 
    border-radius: 32px;
    border: none;
    font-size: 1.5em;
    background-color: #adcfc7;
    box-shadow: 5px 5px 10px -3px #00000040,-5px -5px 15px 3px #00ffc11f;
}

button:active{
    background-color:rgb(47, 104, 179);
}

.col-2{
    grid-column: span 2;
}

.pantalla{
    grid-column: 1/-1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #363636ab;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 5px #00000033;
}

.datos{
    font-size: 1.5em;
}
.resultado{
    font-size: 2em;
}